.favoritos{
margin-top:30px;
}

.favoritos__header{
    padding:30px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid var(--greyBorder);
    width: 80%;
}

.favoritos__header p{
    font-size: 1.25em;
}