footer{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin:0 auto;
    height: 50px;
    width: 90%;
    border-top:1px solid rgb(162, 162, 162);
}

footer a{
    color:black;
    margin-right: 15px;
    padding:3px;
}

footer i {
    font-size: 1.1rem;
}